.button {
	text-transform: uppercase;
	font: inherit;
	color: inherit;
	letter-spacing: 2px;
	cursor: pointer;
	padding: 0 20px;
	border-radius: 5px;
	outline: none;
	background-color: #353535;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(203, 203, 203, 0.8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(144, 144, 144, 0.7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
	background-repeat: no-repeat;
	background-size: 200% 100%, auto;
	background-position: 200% 0, 0 0;
	box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
}

.button:active {
	top: 1px;
	box-shadow: none;
}

.button:hover {
	box-shadow: 0 0 20px gray;
	transition: .4s linear;
	background-position: -200% 0, 0 0;
}